<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Baloo&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>moods</title>
</head>


<body class="container editbg">
    <nav class="navbar navbar-light" style="background-color: rgb(99, 133, 185);">
        <h1>moods</h1>
        <ul>
            <div class="user-log">
                <h5>Signed in as <%= user.name %></h5>
                <li style="color: white text-style='none'">
                    <% if (user) { %>
                    <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
                    <% } else { %>
                    <a href="/auth/google"> <i class="material-icons left">vpn_key</i>Login with Google</a>
                    <% } %>
            </div>
            </li>

        </ul>
        </div>
        </form>
    </nav>

    <h4><a class="dashboardbtn" style="color: rgb(255, 255, 255);" href="/moods">Dashboard</a></h4>
    <div class="container">
        <div class="row">
            <div id="moods" class="col s12">

                <div class="align-content-end">
                    <img src="<%= user.avatarURL %>" alt="user profile" width="30px" height="30px">
                    <div class="mood-name"><b><%= user.name %></b></div>
                    <h4>Edit "<%= mood.title %>"</h4>
                    </span>
                </div>


                <form action="/moods/<%= mood._id %>?_method=PUT" method="POST">
                    <label> Title <input value="<%= mood.title %>" type="text" name="title">
                    </label>
                    <br>
                    <textarea type="text" name="text" class="white-text" rows="3" cols="80"><%= mood.post %></textarea>
                    <button type="submit" class="btn btn-info">Edit Post</button>
                </form>

            </div>


</body>

</html>