<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Baloo&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>moods</title>
</head>


<body class="container">
    <div class="navbar-fixed">
        <nav class="navbar navbar-light" style="background-color: lightgrey;">
            <form class="form-inline right">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">@</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                        aria-describedby="basic-addon1">
                    <ul>
                        <li style="color: white">
                            <% if (user) { %>
                            <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
                            <% } else { %>
                            <a href="/auth/google"> <i class="material-icons left">vpn_key</i>Login with Google</a>
                            <% } %>
                        </li>
                    </ul>
                </div>
            </form>
        </nav>
    </div>
    <div class="container">
        <div class="row">
            <div id="moods" class="col s12">
                <div class="card blue-grey">
                    <a href="/moods">Dashboard</a>
                    <div class="card-content white-text">
                        <div>
                            <span class="card-title">
                                <h4>Edit "<%= mood.title %>"</h4>
                                <i class="material-icons">perm_identity</i>
                                <span class="mood-name"><%= mood.user  %></span>
                            </span>
                        </div>
                        <div class="card-action">

                            <form action="/moods/<%= mood._id %>?_method=PUT" method="POST">
                                <label> Title <input value="<%= mood.title %>" type="text" name="title">
                                </label>
                                <br>
                                <textarea type="text" name="text" class="white-text" rows="3"
                                    cols="80"><%= mood.post %></textarea>
                                <button type="submit" class="btn btn-info">Edit Post</button>
                            </form>

                        </div>


</body>

</html>