<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>moods</title>
</head>


<body class="container showbg">
    <nav class="navbar navbar-light" style="background-color: rgb(99, 133, 185);">
        <h1>moods</h1>
        <ul>
            <div class="user-log">
                <h5>Signed in as <%= user.name %></h5>
                <li style="color: white text-style='none'">
                    <% if (user) { %>
                    <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
                    <% } else { %>
                    <a href="/auth/google"> <i class="material-icons left">vpn_key</i>Login with Google</a>
                    <% } %>
            </div>
            </li>

        </ul>
        </div>
        </form>
    </nav>



    <h4><a class="dashboardbtn" style="color: rgb(255, 255, 255);" href="/moods">Dashboard</a></h4>
    <div class="container">
    </div>

    <div id="moods" class="contenteditable">
        <img src="<%= mood.user[0].avatarURL %>" alt="user profile" width="50px" height="50px">
        <div class="mood-name"><%= mood.user[0].name %></div>
        <br>
        <h4><u><%= mood.title %></u></h4>
        <div><%= mood.post %></div>
        <%if (mood.user[0]._id.equals(user && user._id)) { %>
        <a href="/moods/<%= mood._id %>/edit">✏️</a>

        <div class="comments">
            <form action="/moods/<%= mood._id%>/comments" method="POST">
                <label style="color: black">Comments
                    <input type="text" name="comment">
                    <input class="btn btn-info" type="submit">
                </label>
            </form>
        </div>
    </div>

    <br>
    <br>


    <ul class="show-comments">

        <% if(comments.length) { %>


        <% comments.forEach(c => { %>
        <div class="card">
            <div class="show">
                <div class="card-content">


                    <li>
                        <div class="showcomcomment">


                            <img src="<%= c.userId.avatarURL %>" alt="user profile" width="30px" height="30px">&nbsp;
                            <%= c.comment %>
                        </div>

                        <div id="showCommentName">
                            <%= c.userId.name %>
                        </div>

                </div>
            </div>
        </div>
        </div>
        <% }) %>
        </li>




    </ul>


    <% } else { %>
    <h3> No Comments Yet</h3>
    <% } %>
    </div>